# Rename to .env

### DEVELOPMENT ONLY VARIABLES
# These variables need to be set
# for local development only

### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set
# for local development and when deployed on Vercel

# MySQL database URL for Prisma
DATABASE_URL=mysql://root@127.0.0.1:3309/codeportal

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/sign-in-redirect
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/sign-up-redirect
NEXT_PUBLIC_LIVEBLOCKS_API_KEY=
LIVEBLOCKS_SECRET_KEY=
